<div class="container">
  <header>
    <h2 class="page-title">Creating a function for my Wardrobe <strike>Mal</strike>function</h2>
  </header> 
  <div class="row">
    <div class="col-md-6">
      <p>I'll admit it - I have a problem with clothes. I don't enjoy shopping for them. It overwhelms me.</p>
      <p>But I don't want to look totally unstylish.</p>
      <p>So, in the way that I do, I looked for ways to optimize and solve my problem.</p>
      <p>I realized that because I didn't enjoy the activity of shopping, I never prompted myself to go. I never wake up and tell myself that today is a good day to go to the mall...</p>
      <p>What I needed was an external impetus. But, I didn't want to rely on my friends telling me that my clothes were getting ratty. That would have meant I waited too long.</p>
      <p>So, I built a depreciation schedule for my clothes and a cron job to monitor for when I need to buy something new.</p>
      <%= link_to "Let's get started!", new_wardrobe_path %>
    </div>
    <div class="col-md-6">
      <%= image_tag("hyperventalating.gif") %>
    </div>
  </div>
  </div>
</div>