<div class="container alerts_and_notices">
  <% if flash[:notice] %>
    <div class="row">
      <div class="col-md-12">
        <div class="notice"><%= flash[:notice] %></div>
      </div>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert"><%= flash[:alert] %></div>
      </div>
    </div>
  <% end %>
</div>