<div class="container">
  <div class="content">
    <div class="row content-header"> 
      <div class="col-xs-12">
        <h2>Projects</h2>
      </div>
    </div>
    <div class="row content-inner">
      <div class="col-xs-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Project</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to "Wardrobe automator", wardrobes_path %></td>
              <td>An automated depreciation schedule for my clothes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>