<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h2 class="page-title"><%= @clothing_item.clothing_type.name %></h2>
      </header> 
    </div>
  </div>
  

  <div class="content-inner">
    <%= render 'form' %>
  </div>

</div>

