<!DOCTYPE html>
<html>
<%= render 'shared/head' %>

<body>

<%= render 'shared/nav_header' %>

<div class="container">
  <%= render 'shared/errors_and_alerts' %>
  <%= yield %>
</div>

</body>
</html>
