<!DOCTYPE html>
<html>
<%= render 'shared/head' %>

<body>

<%= render 'shared/nav_header' %>

<%= render 'shared/errors_and_alerts' %>

<div class="container-fluid">

  <%= yield %>

</div>

</body>
</html>
